<h1><%= t ".title" %></h1>

<section>
  <%= link_to "+", new_product_path, class: "product-new" if authenticated? %>
</section>

<section id="products">
  <% @products.each do |product| %>
    <%= link_to product, class: 'product-card' do %>
      <article>
        <header>
          <h2>
            <%= product.name %>
          </h2>
          <% if product.inventory_count %>
            <p>
              <%= product.inventory_count %> in stock
            </p>
          <% else %>
            <p>Out of stock</p>
          <% end %>
          <p>
            <strong>Price:</strong>
            <%= number_to_currency(product.price) %>
          </p>
        </header>
        <section class="product-card--body">
          <%= product.description %>
        </section>
      </article>
    <% end %>
  <% end %>
</section>