<h1><%= t ".title" %></h1>

<section>
  <%= link_to "+", new_product_path, class: "product-new" if authenticated? %>
</section>

<section id="products">
  <% @products.each do |product| %>
    <%= link_to product, class: 'product-card' do %>
      <article>
        <header>
          <h2><%= product.name %></h2>
        </header>
        <p><%= product.description %></p>
      </article>
    <% end %>
  <% end %>
</section>